<!DOCTYPE html>
<html>
<head>
    <title>SmartReader</title>
</head>

<body>
<h1>Register with SmartReader</h1>

{% if registered %}
SmartReader says: <strong>thank you for registering!</strong>
<a href="/">Return to the homepage.</a><br/>
{% else %}
SmartReader says: <strong>register here!</strong><br/>

<form id="user_form" method="post" action="/register/"
      enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form. The as_p method wraps each element in a paragraph
         (<p>) element. This ensures each element appears on a new line,
         making everything look neater. -->
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Register"/>
</form>
{% endif %}
</body>
</html>